.library {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	
	&::before {
		.font-size(14);
		
		content: "Library";
		display: block;
		padding: 0.5em 20px;
	}
}

#library-controls {
	width: fit-content;
	float: right;
	border: none;
	
	legend { display: none; }
}

.diagram-saved {
	.no-methods,
	.no-properties {
		display: none;
		
		& + tr { display: none; }
	}
}